.bck {
  background-image: url("../imagen/fondoHome2.jpg");
  color: white;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
}

.detailContainer {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
    margin: 0;
  flex-direction: column;
  text-align: center;
  padding: 0vh;
  height: 80vh;
  width: 180vh;
  background-color: transparent;
  backdrop-filter: blur(16px);
  border-radius: 20px;
  color: #e3eef5;
  overflow: hidden;
  box-shadow: rgba(77, 101, 236, 0) 0 -1px 7px 1px,
    inset rgba(149, 126, 226, 0) 0 -1px 15px, rgba(226, 120, 33, 0) 0 2px 12px;
}

.col {
  max-width: auto;
  margin: 3rem;
  height: 90%;
  width: 40%;
}

.recipeDetails {
  font-size: 0.85rem;
}

.imgDetail {
  border-radius: 10px;
  filter: drop-shadow(9px 14px 81px #5c5151);
}

.firstItem {
  margin-top: 0;
}
.btnC {
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.btn {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Rubik";
}

.load {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .detailContainer {
    flex-direction: column;
    width: auto;
  }
}
